.profile-card {
  background-color: #1a1a1a69;
  border-radius: 16px;
  border:1px solid #ffffff;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  margin-bottom: 20px;
  backdrop-filter: 12px;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.profile-card-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.profile-image-container {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #2a2a2a;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: left;
  margin-left: 15px;

}

.profile-name {
  font-size: 54px;
  font-weight: 600;
  color: #ffffff;
}

.profile-title {
  font-size: 22px;
  color: #4dabf7;
  margin-bottom: 10px;
  font-weight: 500;
}

.profile-location, .profile-email {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 12px;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.location-icon, .email-icon {
  margin-right: 5px;
}

.profile-social-links {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffffff;
  margin: 0 5px;
  transition: background-color 0.2s, transform 0.2s;
  text-decoration: none;
}

.social-link:hover {
  transform: scale(1.1);
}

.social-icon {
  font-size: 16px;
}

.profile-contact-buttons {
  display: flex;
  justify-content: center;
}

.contact-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #2a2a2a;
  color: #ffffff;
  margin: 0 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
}

.contact-button:hover {
  background-color: #3a3a3a;
  transform: scale(1.1);
}

.phone-button {
  background-color: #4dabf7;
}

.message-button {
  background-color: #15aabf;
}

@media (max-width: 480px) {
  .profile-card {
    width: 100%;
    max-width: none;
  }
  
  .profile-image-container {
    width: 100px;
    height: 100px;
  }
  
  .profile-name {
    font-size: 20px;
  }
}
